<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe App</title>
</head>
<body>
    <h1>Recipe Index!</h1>
    <table>
        <tr>
            <th>Recipe Id</th>
            <th>Description</th>
            <th>Preparation Time</th>
            <th>Cook Time</th>
            <th>Servings</th>
            <th>URL</th>
            <th>Source</th>
            <th>Directions</th>
            <th>Image</th>
            <th>Difficulty</th>
            <!--<th>Ingredients</th>-->
            <!--<th>Categories</th>-->
        </tr>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.Id}">1</td>
            <td th:text="${recipe.description}">Recipe desc</td>
            <td th:text="${recipe.prepTime}">10</td>
            <td th:text="${recipe.cookTime}">20</td>
            <td th:text="${recipe.servings}"></td>
            <td th:text="${recipe.url}"></td>
            <td th:text="${recipe.source}"></td>
            <td th:text="${recipe.directions}"></td>
            <td th:text="${recipe.image}"></td>
            <td th:text="${recipe.difficulty}"></td>

            <!--Loop Required for Ingredients and categories to print-->
            <!--<td th:text="${recipe.ingredients}"></td>-->
            <!--<td th:text="${recipe.categories}"></td>-->
        </tr>
    </table>
</body>
</html>